<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>layout Practice oxfd</title>
<link href="styles.css" rel="stylesheet" type="text/css" media="all">
</head>

<body>
<main class="site-wrapper">
  <header class="site-header"></header>
  <nav class="menu">
    <ul class="clearfix">
      <li><a href="#home">Home</a></li>
      <li><a href="#about">About Us</a></li>
      <li><a href="#services">Our Services</a></li>
      <li><a href="#contact">Contact Us</a></li>
    </ul>
  </nav>
  <section class="clearfix">
    <div class="lft-container">
      <div class="lft-top-banner">
        <p>CSS3, the latest CSS standard.</p>
        <p>is modular and, as such, various </p>
        <p>chunks of it are at various stages of development</p>
        <p>is modular and, as such, various </p>
        <p>chunks of it are at various stages of development</p>
      </div>
      <div class="lft-bottom-banner"></div>
    </div>
    <div class="rty-container">
      <div class="rty-main-heading">Main Heading here</div>
      <div class="sub-heading">CSS3, the latest CSS standard.CSS3, is modular and, as such, various chunks of it are at various stages of development is modular and, as such, various chunks of it are at various stages of development as such, various chunks of it are at various stages of developmentas such, various chunks of it are at various stages of development</div>
      <div class="details">
        <div class="left-details">CSS3, the latest CSS standard.CSS3, is modular and, as such, various chunks of it are at various stages of development is modular and, as such, various chunks of it are at various stages of development as such, various chunks of it are at various stages of developmentas such, various chunks of it are at various stages of developmentCSS3, the latest CSS standard. </div>
        <div class="rty-details">CSS3, the latest CSS standard.CSS3, is modular and, as such, various chunks of it are at various stages of development is modular and, as such, various chunks of it are at various stages of development as such, various chunks of it are at various stages of developmentas such, various chunks of it are at various stages of development css.</div>
      </div>
      <footer class="footer">Some footer item | Another footer item | Last footer item</footer>
    </div>
	  
  </section>
</main>
</body>
</html>
