@charset "utf-8";
/* CSS Document */
.clearfix::after {
	content: "";
	clear: both;
	display: block;
}
main, article, aside, details, figcaption, figure, footer, header, menu, nav, section, p {
	display: block;
}
h1 {
	margin: 0px;
}
a {
	text-decoration: none;
}
body {
	background: #92a9cb;
	margin: 0px;
	font-family: "Times New Roman";
	font-size: 12px;
}
.site-wrapper {
	width: 700px;
	margin: auto;
}
.site-header {
	background: url("images/header-bg.jpg") no-repeat;
	min-height: 110px;
	border-top-left-radius: 30px 30px;
	border-top-right-radius: 30px 30px;
}
.header-heading {
	text-align: right;
	padding: 42px 30px;
	font-family: "Times New Roman";
	color: #444444;
}
.menu {
	background: #6c91a3;
}
.menu ul {
	list-style: none;
	border-bottom: solid 2px #587b8c;
	border-top: solid 2px #587b8c;
	margin: 0px;
}
.menu ul li {
	float: left;
}
.menu li a {
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	padding: 10px;
	display: block;
	margin-left: 10px;
}
.menu li a:hover {
	background: #b5d0e0;
}
.content-wrapper {
	background: #ddf3ff;
	padding: 37px 32px 37px 27px;
	border-radius: 0px 0px 30px 30px;
}
.secondary-container {
	background: #d0e5f1;
	border: 1px solid #accad8;
	width: 245px;
	float: left;
}
.secondary-container-text {
	font-size: 10px;
	border-left: 1px solid #accad8;
	padding: 10px;
	margin-left: 15px;
}
.secondary-container h3 {
	color: #481f00;
	font-style: italic;
	padding-left: 8px;
	font-size: 14px;
	font-weight: bold;
	margin: 10px 0px 0px 0px;
}
.sub-menu{}
.sub-menu li a{color:#481f00;}
.primary-container {
	float: right;
	width: 350px;
	margin-left: 40px;
	line-height: 1.5;
}
.footer {
	text-align: center;
	margin-top: 10px;
	font-weight: bold;
}