@charset "utf-8";
/* CSS Document */
/* Globle styles */

a { color: #394753; text-decoration: underline;}
a:hover { text-decoration: none;}

p{ text-align: justify; padding-left:5px; margin:0 10px 20px 20px;}
h1{font-size:38px; padding: 20px; color:#fff; margin: 0px; font-weight: normal;}
h2{font-size:25px; color:#666; padding: 10px; margin:0px; text-align: left; font-weight: normal;}
h3 {color:#666; padding: 10px; font-size: 18px; margin:0px; font-weight: 400;}

body { font-family: verdana, arial, sans-serif; font-size: 11px; color: #000; background: #520b00; }
/*.clearboth :{clear: both;}*/
/*site CSS */
.site-wrapper{width: 840px; margin-left:auto; margin-right: auto; margin-top:0px; background: #fff; border-left: 2px solid #fff; }

.site-header{ background: url("../htmlsite-latest/images/header.jpg") no-repeat center scroll; height: 165px; margin-top:0px;}


.left-container{ width:150px; float:left;}


.site-nav ul { list-style: none; margin: 0px; padding: 0px; width: 150px; }
.site-nav li { border-bottom: 1px solid #9C3D00; }
.site-nav a { display: block; padding: 7px 9px; font-size: 11px; color:#000; text-decoration: none; }
.site-nav a:hover{ color:#fff; text-align: right; background: #9C3D00; }

.rty-container { width: 600px; margin: 0px 45px; float:right;} 

.site-footer { background: #9C3D00; color: #fff; text-align: center; margin-top: 60px; padding: 3px; clear:both;}