<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>080120</title>
  <link href="reset" rel="stylesheet" type="text/css" media="all" />
  <link href="styles.css" rel="stylesheet" type="text/css" media="all" />
</head>

<body>
	<header class="clearfix">
    <nav class="main-menu">
		<ul>
		<li><a href="#">Home</a></li>
			<li><a href="#">About Us</a></li>
			<li><a href="#">Services</a>
				<ul>
			<li><a href="#">Web Development</a></li>
			<li><a href="#">Graphic Design</a>
					</li>
			<li><a href="#">WordPress</a></li>
			<li><a href="#">Icon Design</a></li>
			<li><a href="#">Motion Graphics</a></li>
		</ul>
			</li>
			<li><a href="#">Works</a></li>
		</ul>
    </nav>
		</header>
</body>

</html>